#wrapper {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
    border: 1px solid black;
}

#banner {
    grid-area: 1 / 1 / 2 / -1;
    height: 1fr;
    background-color: rgba(0, 255, 0, 0.3);
}

#nav-bar {
    grid-area: 2 / 1 / -1 / 2;
    height: 1fr;
    background-color: rgba(255, 255, 0, 0.3);
}

#right-bar {
    grid-area: 2 / -2 / -1 / -1;
    height: 1fr;
    background-color: rgba(166, 0, 255, 0.3);
}

main {
    grid-area: 2 / 2 / -2 / -2;
    height: 1fr;
    background-color: rgba(0, 0, 255, 0.3);
}

footer {
    grid-area: -2 / 2 / -1 / -2;
    background-color: rgba(255, 0, 0, 0.3);
}