#wrapper {
    display: grid;

    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
    border: 1px solid black;
    overflow: hidden;
}

#wrapper img {
    object-fit: cover;
    object-position: center;
}

#banner {
    grid-column: 1 / -1;
    /*1, 2 -> 2, -1 */
    object-fit: cover;
    justify-self: center;
}

#nav-bar {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

#nav-bar img {
    height: auto;
    max-width: 175px;
}

#right-sidebar {
    grid-row: 2 / 4;
    grid-column: 7 / 8;
    object-fit: fill;
    align-self: end;
}

main {
    display: flexbox;
    flex-flow: column;
    justify-content: space-evenly;
    grid-row: 2;
    grid-column: 3 / 7;
}

main section {
    display: grid;
    grid-template-columns: 30em 200px;
}

main section img {
    height: 200px;
    width: 200px;
    object-fit: fill;
}

footer {
    grid-row: 3;
    grid-column: 3 / 7;
    height: 20em;
    background-color: #23237F;
    color: white;
}