#wrapper {
    display: grid;
    
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0px, 175px)) minmax(0px, 1fr);
    border: 1px solid black;
    overflow: hidden;
}

#wrapper img {
    object-fit: cover;
    object-position: center;
}

#banner {
    grid-area: 1 / 2 / 2 / -1;
    background-color: rgba(0, 255, 0, 0.3);
    justify-content: center;
    object-fit: fill;
    object-position: center;
}

#nav-bar {
    grid-area: 2 / 1 / -1 / 2;
    background-color: rgba(255, 255, 0, 0.3);
}

#right-bar {
    grid-area: 2 / -2 / -1 / -1;
    background-color: rgba(166, 0, 255, 0.3);
    object-fit: fill;
    object-position: left;
}

main {
    grid-area: 2 / 2 / -2 / -2;
    background-color: rgba(0, 0, 255, 0.3);
}

footer {
    grid-area: -2 / 2 / -1 / -2;
    background-color: rgba(255, 0, 0, 0.3);
}
